.blogs_header{
    background-image: url('/images/blog.jpg');
    height:350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blogs_header_layout{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0,.45);
}
.user-data{
    padding: 10px 25px;
    
}
.user-data button{
    background: #2d5061;
    border: 1px solid #2d5061;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    margin: 5px auto;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
}